/*
* @Author: wyt29
* @Date:   2019-12-09 20:21:53
* @Last Modified by:   wyt29
* @Last Modified time: 2019-12-11 23:18:55
*/
ul{
	list-style: none;
}
.top{
	height: 25px;
	background-color: #ccc;
	z-index: -2;
}
.center{
	margin: 0 auto;
	width: 1000px;
	overflow: hidden;
	position: absolute;
	left: 400px;
}
.center>img{
	margin-top: 4px;
}
.gun>p{
	margin-top: 0px;
	color: red;
	width: 500px;
}
.gun{
	position: absolute;
	display: inline-block;
	width: 450px;
	right: -450px;
}
.box{
	width: 1200px;
	height: 397px;
	margin: 10px auto;
	position: relative;
	overflow: hidden;
}
.slider{
	width: 8400px;
	position: absolute;
	left: -1200px;
}
.slide{
	width: 1200px;
	overflow: hidden;
	float:left;
}
.box>span{
	display: block;
	width: 30px;
	height: 50px;
	text-align: center;
	cursor: pointer;
	color:white;
	top: 175px;
	line-height: 50px;
	background: red;
	font-size: 30px;
	position: absolute;
	opacity: 0;
}
#left{
	left: 30px;
}
#right{
	right: 30px;
}
.nav{
	position: absolute;
	left: 500px;
	bottom: 20px;
}
.nav>li{
	float: left;
	width: 20px;
	height: 20px;
	background: #ccc;
	cursor: pointer;
	margin: 0 10px;
	border-radius: 50%
}
.nav>.active{
	background:red;
}